:root {
    /* 001b29, 00344f,  */
    --main-background-color: #000203;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--main-background-color);

}

h1 {
    margin: 0;
}

fieldset {
    border: none;
}



#title {
    /* width: 100%;
    height: 100%; */
    /* padding: 0 0.5em; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(30px + 0.8vh + 0.8vw);
}

#description {
    /* margin: 1.3rem auto; */
    padding: 0 0.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(14px + 0.8vh + 0.8vw);
    font-style: italic;
}

#survey-form {
    position: relative;
}

.survey-content {
    position: relative;
    width: 80%;
    height: 1000px;
    margin: 0 auto;
    padding-top: 1.3rem;
    text-align: center;
    color: rgb(253, 253, 253);
}

.survey-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("./assets/guitar-wallpaper.jpg");
    background-position: top center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    box-shadow: 0 0 80px 80px var(--main-background-color) inset;
    opacity: 0.08;

}

.survey-form__form-controls {
    height: 1000px;
    width: 75%;
    min-height: 80%;
    min-width: 60%;
    margin: 0 auto;
    padding: 60px 40px 0 40px;
    background-color: rgba(40, 40, 70, 0.5);
    border-radius: 0.7%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.survey-form__section-one {

}

.survey-form__label {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.survey-form__label-text {
    font-size: 24px;
}

.survey-form__input {
    width: 100%;
}